*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

#container{
    width: 90%;
    max-width: 900px;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

h1{
    margin-bottom: 20px;
}

#generate-btn{
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
    border-radius: 10px;

    font-size: 18px;
    font-weight: bold;

    cursor: pointer;
}

#generate-btn:hover{
    background-color: rgba(36, 38, 40, 0.479);
}

.palette-container{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.color-box{
    width: 200px;
}

.color{
    width: 100%;
    height: 200px;
}

.copy-btn {
    border: none;
    background-color: #eeeeee;
    padding: 8px 12px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;

    transition: background-color 0.2s ease;
}

.copy-btn:hover {
    background-color: #dddddd;
}

.color-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}